*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    
}

:root{
    --var-primary-color:rgb(5, 142, 133);
}
header{
   
    background-color: black;
}
span{
    color:var(--var-primary-color);
}
.container{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.sr-only{
    border:0 ;
    padding: 0;
    width: 1px;
    height: 1px;
    margin:-1px;
    clip: rect(0,0,0,0);
    position: absolute;
    overflow: hidden;
}
.logo{
    color:white;
}
.navbar{
    display: none;
}

.mobile-menu{
    color:white;
}

.hero{
    width: 100%;
    background:url(./img/Hero_bg.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero-content{
    background-color:rgba(255, 255, 255, 0.567);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  height: auto;
  padding: 50px 10px;
  
    
   
}
.hero-content h1{
    font-size:4rem;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    
  
}
.hero-content p{
    font-size: 2rem;
    color:var(--var-primary-color);
}
button{
   /* margin-top:30px;*/
    border:none;
    outline: none;
    background: rgb(9, 9, 9);
    padding: 15px 30px;
    color: white;
    
    font-size: 18px;

}
.btn{
   
    text-decoration: none;
}
button:hover{
    background: rgb(5, 142, 133);
    cursor: pointer ;
}
@media screen and (min-width:768px){
     .mobile-menu{
        display: none;
     }
     .navbar{
        display: block;
        
     }
     .navbar ul{
        display: flex;
        list-style-type: none;
     }
      .navbar li:not(:last-child){
        margin-right: 35px;
      }
     .navbar li a{
        color:white;
        font-size: 18px;
        font-weight: 500;
        
     }
     a:hover{
        color:var(--var-primary-color) !important;
     }
     .active{
        color:var(--var-primary-color) !important;
     }
    .hero{
        height: 90vh;;
    }
     .hero-content{
        width: 50%;
     }
     
}